.container {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: 3px solid black;
  border-radius: 25px;
  background: #34495e;
}

.tableContainer {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.content {
  display: inline;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.active, .collapsible:hover {
  background-color: #555;
}

.container p {
    margin: 0;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.title {
  padding-top: 50px;
  color: #ecf0f1
}

.field {
  padding-top: 20px;
}

#dropdown {
  width: 173px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #bdc3c7;
}

hr{
  height: 1px;
  color: white;
  background-color: white;
  border: none;
}
